<nav class="navbar navbar-expand-lg navbar-default">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lists']" routerLinkActive="router-link-active" >Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="router-link-active" >Messages</a>
      </li>
    </ul>
  </div>
  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" required name="username" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" required name="password" [(ngModel)]="model.password">
      <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Sign In</button>
    </form>
    <ul *ngIf="loggedIn()" class="navbar-nav">
        <li>
            <img src="{{photoUrl}}" alt="">
          </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" (click)="false" id="navbarDropdownMenuLink" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *dropdownMenu>
          <a class="dropdown-item"[routerLink]="['/member/edit']" routerLinkActive="router-link-active" > <i class="fa fa-user"></i> Edit Profile</a>
          <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </li>
  </ul>
</nav>